body{
    background-color: #b2adad;
}


h1{
    text-shadow: 4px 1px 1px #444444;
    color: whitesmoke;
    font-size: 33px;;
}


h3{
    text-shadow: 3px 1px 1px #444444;
    color: whitesmoke;
    font-size: 30px;
}

textarea{

}

select{

}

input{

}


button{
    border-radius: 30px;
    size: auto;
    border-color: #444444;
    background: #8f1b16;
    color: #D2FFD2;
    text-shadow: 1px 1px 1px #444444;
}


table.table1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
}

.table1 thead th {
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #8f1b16;
    border: 1px solid #ce6155;
    border-bottom: 3px solid #d9745a;
    background-color: #d99f88;
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.02, rgb(217, 116, 90)),
            color-stop(0.51, rgb(217, 116, 90)),
            color-stop(0.87, rgb(217, 116, 90))
    );
    background: -moz-linear-gradient(
            center bottom,
            rgb(217, 159, 136) 2%,
            rgb(217, 159, 136) 51%,
            rgb(217, 159, 136) 87%
    );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table1 thead th:empty {
    background: transparent;
    border: none;
}

.table1 tbody th {
    color: #fff;
    text-shadow: 1px 1px 1px #8f1b16;
    background-color: #d9745a;
    border: 1px solid #ce6155;
    border-right: 3px solid #8f1b16;
    padding: 0px 10px;
    background: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.02, rgb(206, 100, 77)),
            color-stop(0.51, rgb(217, 159, 136)),
            color-stop(0.87, rgb(206, 97, 85))
    );
    background: -moz-linear-gradient(
            left bottom,
            rgb(206, 97, 85) 2%,
            rgb(217, 116, 90) 51%,
            rgb(217, 159, 136) 87%
    );
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table1 tfoot td {
    color: #d0564f;
    font-size: 32px;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #444;
}

.table1 tfoot th {
    color: #666;
}

.table1 tbody td {
    padding: 10px;
    text-align: center;
    background-color: #fff8f8;
    border: 2px solid #E7EFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

.table1 tbody span.check::before {
    content: url(../images/check0.png)
}



.wrapper{
    text-align: center;
}


/* unvisited link */
a:link {
    color: crimson;
}

/* visited link */
a:visited {
    color: mediumpurple;
}

/* mouse over link */
a:hover {
    color: lightcoral;
}

/* selected link */
a:active {
    color: blue;
}