body{
    background-image: url('/static/images/background3.jpg');
}


h1{

}


h3{

}


textarea{

}

select{

}

input{

}


button{

}


table{

}


.wrapper{

}


/* unvisited link */
a:link {
    color: darkgreen;
}

/* visited link */
a:visited {
    color: mediumpurple;
}

/* mouse over link */
a:hover {
    color: lightcoral;
}

/* selected link */
a:active {
    color: blue;
}