{% extends 'layout.html' %}

{% block title %}AskMate | Welcome!{% endblock %}

{% block content %}
    <h1>Ask Mate</h1>

    <form action=" {{ url_for('index') }}" method="post">
        <p>
            <button type="submit" style="float: right"> Search</button>
        </p>
        </p>
        <p>
            <input type="text" name="search_phrase" style="float: right" value="Type here for searching" required>
        </p>
    </form>
    <form>
        <button onclick="location.href= '{{ url_for('add_question') }}'" type="button"
                style="float: left">
            Add new question
        </button>
    </form>
    <br>
    <br>
    </p>

    <table class="table1">
        <tr>
            <th>ID</th>
            <th>Questions</th>
            <th>Open</th>
        </tr>
        {% for row in  sorted_messages %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['title'] }}</td>
                <td><a href="{{ url_for('get_question_details', question_id=row['id']) }}">Open</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

